<!DOCTYPE html>

<!-- Esta es mi primera página dinamica -->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>Restaurante</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <h3>PRUEBA TEMPLATE </h3>
        <h4>PRUEBA INDEX... </h4>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
