<!DOCTYPE html>

<!-- Esta es mi primera página dinamica -->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


    <head th:replace="~{layout/plantilla :: head}">
        <title>Pa'Monchar</title>
        <meta charset="UTF-8"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style="background-color:  #003333">

        <header th:replace="~{layout/plantilla :: header}"/>

        <h3 style="color: darkred">index del template </h3>
        <h3 style="color: darkred">Modificar luego </h3>
        <h4 style="color: darkred">Guia adentro index </h4>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
